<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
<main>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    </div>
</main>

<div class = "container">
    <div class = "row">
        <div class = "col-sm-12">
            <form th:object="${event}" th:method = "patch">
                <div class = "form-group">
                    <label th:for="deadLine">제품 이름</label>
                    <input type="text" class = "form-control" id = "deadLine" name = "deadLine">
                </div>
                <button type = "submit" class="btn btn-primary">응모 마감일 수정</button>
            </form>
        </div>
    </div>
</div>


<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>