<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<main>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    </div>
</main>

<div class="container">
    <div>
        <td th:text="'제품상세 ID : ' + ${form.formId}"></td>
    </div>
    <div>
        <td th:text="'이벤트 ID : '+ ${form.eventId}"></td>
    </div>
    <div>
        <td th:text="'사이즈 : '+ ${form.size}"></td>
    </div>
    <div>
        <td th:text="'이메일 : '+ ${form.email}"></td>
    </div>

    <a href="#" th:href="@{/api/v1/form/{id}/edit (id=${form.formId})}" class="btn btn-primary" role="button">수정</a>

    <form th:action="@{/api/v1/form/{id} (id=${form.formId})}" th:method="delete">
        <button class="btn btn-danger" type="submit" aria-describedby="submitHelp">삭제</button>
    </form>


</div>

<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>